# Python
__pycache__/
*.py[cod]
*.pyc
.Python

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/

# OS
.DS_Store
.DS_Store?

frontend/node_modules